/* mais sobre view port */
/* https://www.alura.com.br/artigos/guia-de-unidades-no-css */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */

/* guia flex-box */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;                           /*altura body*/
    background-color: black;               /*cor de fundo*/
    color: #fff; 
    box-sizing: border-box;   
}

.titulo-destaque{
    color: #22D4FD;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;  
    margin: 10%;
}

.container__conteudo{
    width: 650px;
}

.container__conteudo__titulo{
    font-size: 30px;
    font-family: 'Krona One', 'sans-serif';  
    word-spacing: 6px; 
    letter-spacing: 2px;
    margin-bottom: 40px;  
}

.container__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', 'sans-serif';
}

.container__links{
    display: flex;
    justify-content: space-between;
}

.container__links__link{     /*botões*/
    background-color: #22D4FD;
    width: 280px;
    padding: 16px;
    text-align: center;
    font-size: 24px;      /*tamanho da fonte*/
    color: #000;
    font-weight: 600;        /*negrito*/
    text-decoration: none;  /*sem linhas*/
    font-family: 'Monteserrat', 'sans-serif';
    border-radius: 16px;   /*arredondamento das bordas*/
}